# Configuração do Banco de Dados
DATABASE_URL=postgresql://user:password@localhost/mediacaobot

# Configuração da Dashboard (Admin)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin_super_secreta

# Configuração JWT
SECRET_KEY=sua_chave_secreta_muito_longa_e_aleatoria
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440 # 24 horas

# Configuração da API
API_HOST=0.0.0.0
API_PORT=8000
